<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{'BUTTON_LANG' | translate}}
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#"
       ng-show="$ctrl.$rootScope.lang == 'ru'"
       ng-click="$ctrl.changeLanguage('en')">English</a>
    <a class="dropdown-item" href="#"
       ng-show="$ctrl.$rootScope.lang == 'en'"
       ng-click="$ctrl.changeLanguage('ru')">Русский</a>
  </div>
</div>
