<div class="row mx-md-n5 align-items-center">
  <div class="col px-md-5">
    <div class="p-3">
      <form name="userForm" ng-submit="$ctrl.submitForm()" novalidate>

        <form-field-component
          field-model="$ctrl.emailFieldModel"
          on-update="$ctrl.updateEmail($event);">
        </form-field-component>

        <form-field-component
          field-model="$ctrl.passwordFieldModel"
          on-update="$ctrl.updatePassword($event);">
        </form-field-component>

        <button type="submit" class="btn btn-primary border" ng-disabled="userForm.$invalid">{{'LOGIN' | translate}}</button>
        <a href="" ui-sref="$ctrl.stateConstants.AUTH_REGISTRATION.name">{{'REGISTER' | translate}}</a>
      </form>
    </div>
  </div>
  <div class="col px-md-5">
    <div class="p-3">
      <img src="/img/welcome-image.jpg" class="responsive-image" alt="">
    </div>
  </div>
</div>
