<div class="row mb-3">
  <h2 class="mx-auto">Certificates</h2>
</div>
<div class="row justify-content-center align-items-center">

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-primary">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> All certificates
    </label>
    <label class="btn btn-outline-primary">
      <input type="radio" name="options" id="option2" autocomplete="off"> My certificates
    </label>
  </div>

  <div class="col-4">
    <div class="input-group">
      <input type="text"
             ng-model="$ctrl.search"
             class="form-control"
             placeholder="Search certificates"
             ng-change="$ctrl.updateCertificates($ctrl.search, $ctrl.queryTags)">
    </div>
  </div>

  <div class="col-4" ng-show="$ctrl.queryTags.length">
    <div class="card">
      <div class="card-body">
        Tags:
        <button class="btn btn-warning btn-sm mr-1 ml-1"
                ng-repeat="tag in $ctrl.queryTags"
                ng-click="$ctrl.removeQueryTag(tag)">{{tag.name}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card-columns mt-3">
  <certificate on-add-tag="$ctrl.addQueryTag($event)"
               class="m-3" certificate="certificate"
               ng-repeat="certificate in $ctrl.sertificatesToShow">
  </certificate>
</div>

<pagination-component
  items="$ctrl.items"
  current-page="$ctrl.currentPage"
  page-size="$ctrl.pageSize"
  on-show-items="$ctrl.showItems($event)">
</pagination-component>



