<div class="row mb-3">
  <h2 class="mx-auto">Certificates</h2>
</div>
<div class="row justify-content-center align-items-center">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

  <div class="col-4">
    <div class="input-group">
      <input type="text"
             ng-model="search"
             class="form-control"
             placeholder="Search certificates by name">
    </div>
  </div>

    <div class="col-4" ng-show="$ctrl.queryTags.length">
    <div class="card">
      <div class="card-body">
        Tags:
        <button class="btn btn-warning btn-sm mr-1 ml-1"
                ng-repeat="tag in $ctrl.queryTags"
                ng-click="$ctrl.removeQueryTag(tag)">{{tag}}</button>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <certificate on-add-tag="$ctrl.addQueryTag($event)"
               class="m-3" certificate="certificate"
               ng-repeat="certificate in $ctrl.certificates
               | certificateTagsFilter:search:$ctrl.queryTags:$ctrl.pager:$ctrl.pageSize:$ctrl.currentPage:$ctrl.allCertificates">
  </certificate>
</div>

<div class="row justify-content-md-center">
  <ul ng-if="$ctrl.pager.pages.length" class="pagination">
    <li class="page-item" ng-class="{disabled:$ctrl.pager.currentPage === 1}">
      <a class="page-link" href="#" ng-click="$ctrl.setPage(1)">First</a>
    </li>
    <li class="page-item" ng-class="{disabled:$ctrl.pager.currentPage === 1}">
      <a class="page-link" href="#" ng-click="$ctrl.setPage($ctrl.pager.currentPage - 1)">Previous</a>
    </li>
    <li class="page-item" ng-repeat="page in $ctrl.pager.pages" ng-class="{active:$ctrl.pager.currentPage === page}">
      <a class="page-link" href="#" ng-click="$ctrl.setPage(page)">{{page}}</a>
    </li>
    <li class="page-item" ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}">
      <a class="page-link"href="#" ng-click="$ctrl.setPage($ctrl.pager.currentPage + 1)">Next</a>
    </li>
    <li class="page-item" ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}">
      <a class="page-link" href="#" ng-click="$ctrl.setPage($ctrl.pager.totalPages)">Last</a>
    </li>
  </ul>
</div>

<div ng-if="!$ctrl.certificates.length">
  There's no one here
</div>



