<div class="row mb-3">
  <h2 class="mx-auto">{{'CERTIFICATES' | translate}}</h2>
</div>
<div class="row justify-content-center align-items-center">

  <div class="btn-group btn-group-toggle" data-toggle="buttons"
       ng-show="$ctrl.haveOwnCertificates">
    <label class="btn btn-outline-primary" ng-click="$ctrl.showAllCertificates()">
      <input type="radio" name="options" id="option1" autocomplete="off" checked>
      {{'BUTTON_ALL_CERTIFICATES' | translate}}
    </label>
    <label class="btn btn-outline-primary" ng-click="$ctrl.showMyCertificates()">
      <input type="radio" name="options" id="option2" autocomplete="off">
      {{'BUTTON_MY_CERTIFICATES' | translate}}
    </label>
  </div>

  <div class="col-4">
    <div class="input-group">
      <input type="text"
             ng-model="$ctrl.search"
             class="form-control"
             placeholder="{{'SEARCH_CERTIFICATES' | translate}}"
             ng-change="$ctrl.onInputChange();">
    </div>
  </div>

  <div class="col-4" ng-show="$ctrl.filter.tags.length">
    <div class="card">
      <div class="card-body">
        <span>{{'TAGS' | translate}}:</span>
        <button class="btn btn-warning btn-sm mr-1 ml-1"
                ng-repeat="tag in $ctrl.filter.tags"
                ng-click="$ctrl.removeQueryTag(tag)">
          {{tag}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center align-items-center mt-5" ng-show="!$ctrl.items || $ctrl.items.length === 0">
  <div class="col">
    <div class="alert alert-warning w-75 mx-auto" role="alert">
      {{'EMPTY_QUERY_MESSAGE' | translate}}
    </div>
  </div>
</div>

<div class="card-deck mt-3" ui-sortable ng-model="$ctrl.items">
  <certificate certificate="certificate"
               on-add-tag="$ctrl.addQueryTag($event);"
               on-buy-certificate="$ctrl.onCertificateProductChange($event);"
               on-certificate-product-change="$ctrl.onCertificateProductChange($event, certificate);"
               class="m-3"
               style="cursor: move;"
               ng-repeat="certificate in $ctrl.items">
  </certificate>
</div>

<pagination-component
  pager-props="$ctrl.pagerProps"
  on-page-change="$ctrl.onPageChange($event)">
</pagination-component>




