<div class="form-group">
  <label>{{$ctrl.fieldModel.fieldNameKey | translate}}</label>
  <ng-form name="subform">
    <input type="{{$ctrl.fieldModel.fieldType}}"
           class="form-control"
           placeholder="{{$ctrl.fieldModel.fieldNameKey | translate}}"
           name="field"
           ng-model="$ctrl.fieldModel.fieldValue"
           ng-attr-ng-maxlength="{{$ctrl.fieldModel.maxlength || undefined}}"
           ng-attr-ng-minlength="{{$ctrl.fieldModel.minlength || undefined}}"
           ng-attr-required="{{$ctrl.fieldModel.required}}"
           ng-pattern="$ctrl.fieldModel.pattern"
           ui-validate="{userValidation: '$ctrl.validate($value)'}"
           ng-class="{'is-invalid': subform.field.$invalid && !subform.field.$pristine,
                              'is-valid': subform.field.$valid && subform.field.$touched}">

    <div ng-if="subform.field.$touched" ng-messages="subform.field.$error" class="invalid-feedback d-block" role="alert">
      <div ng-message="maxlength">{{'VALIDATION_MAX_LENGTH_MESSAGE' | translate}}{{$ctrl.fieldModel.maxlength}}</div>
      <div ng-message="minlength">{{'VALIDATION_MIN_LENGTH_MESSAGE' | translate}}{{$ctrl.fieldModel.minlength}}</div>
      <div ng-message="userValidation">{{$ctrl.fieldModel.validationMessageKey | translate}}</div>
      <div ng-message="required">{{'VALIDATION_REQUIRED_MESSAGE' | translate}}</div>
      <div ng-message="pattern">{{'VALIDATION_IS_NOT_CORRECT_MESSAGE' | translate}}</div>
      <div ng-message="required">{{'VALIDATION_REQUIRED_MESSAGE' | translate}}</div>
    </div>
  </ng-form>
</div>
