<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h1>Certificates</h1>
        </div>
    </div>
    <div class="row mx-md-n5 align-items-center">
        <div class="col px-md-5">
            <div class="p-3">
                <form name="userForm" ng-submit="$ctrl.submitForm(userForm.$valid)" novalidate>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="emailInput" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Enter email" ng-model="$ctrl.credentials.login" ng-maxlength="{{$ctrl.maxlength}}" required="true">
                        <div ng-show="userForm.emailInput.$invalid && !userForm.emailInput.$pristine" class="invalid-feedback">
                            Enter a valid email.
                        </div>
                        <div ng-show="userForm.emailInput.$error.maxlength" class="invalid-feedback">
                            Email is too long.
                        </div>
                        <div ng-show="userForm.emailInput.$valid && userForm.emailInput.$pristine" class="valid-feedback">
                            Looks good!
                        </div>
<!--                        <p ng-show="userForm.emailInput.$invalid && !userForm.emailInput.$pristine">Enter a valid email.</p>-->
<!--                        <p ng-show="userForm.emailInput.$error.maxlength">Email is too long.</p>-->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="passwordInput" class="form-control" id="exampleInputPassword1" placeholder="Password"
                               ng-model="$ctrl.credentials.password" ng-minlength="{{$ctrl.minlength}}" required="true">


                        <p ng-show="userForm.passwordInput.$invalid && !userForm.passwordInput.$pristine">Enter a valid password.</p>
                        <p ng-show="userForm.passwordInput.$error.minlength">Password is too short.</p>
                    </div>
                    <button class="btn btn-primary border" ng-disabled="userForm.$invalid">Login</button>
                    <button class="btn btn-warning cancel">Cancel</button>
                </form>
            </div>
        </div>
        <div class="col px-md-5">
            <div class="p-3">
                <img src="../img/welcome-image.jpg" class="responsive-image" alt="">
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.currentUser">Welcome, {{$ctrl.currentUser.name}}!</div>
</div>